$primaryColor:blue;
body{
    background-color:red;
}

header{
    padding: 50px;
    color: white;
    background-color: $primaryColor;
    margin-bottom: 200px;
}

footer{
    padding: 50px;
    background-color: $primaryColor;
}